body{
    color: black;
    background-color: (#f5f5f5); /*variable and fallback*/
    margin: 0px;
    padding: 3em;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

* {
    box-sizing: border-box;
    align-items: center;
    font-family: "Space Grotesk", sans-serif; /*font*/
}

h1, h3{
    color: rgb(11, 14, 71);
    font-size: 30px;
    margin: 10 10 10 10;
    padding: 1 1 1 1;
    text-align: center;
    text-decoration: wavy;
}

h2{
    color: hsl(337°, 75%, 20%);
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.Agenda p{
    color: color(display-p3 1 0.5 0);
    font-size: 1em;
    width: auto;
    max-width: 80%;
    text-align: justify;
    text-decoration: solid;
    
}

ul.task-list > li{
    margin: 0.5em;
}

h2 ~ p{
    text-decoration: double;
}

h3 + p{
    text-decoration: underline;
}

div.event{
    padding: 1em;
}

nav{
    /*navigation bar*/
    color: color-mix(in srgb, plum, #f00);
    background-color: aliceblue;
    width: 10em;
    height: 2em;
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 1em;
    margin-right: 1em; 
    text-align: center;
    vertical-align: middle;

    /*nested selector*/
    p{
        font-weight: bold;
        font-size: 0.8em;
    }
}

.Agenda{
    display: grid;
    position: sticky;
    grid-row: inherit;
    grid-column: auto;
    grid-auto-flow: column;
}

#Action-Items{
    border-color: #590d2a;
    border-width: 1px;
    border-style: dashed;
    text-align:justify;
}

#footer{
    background-color: var(--main-bg); /*variable and fallback*/
    margin: 3em;
    padding: 20px;
    max-width: fit-content;
    max-height: fit-content;
    display: flex; /*flexbox display */
    flex-wrap: nowrap;
    flex-direction: column;
    flex-shrink: 2;
}

#text{
    width: 100%;
    font-family: "Space Grotesk", sans-serif; /*font*/ 
}

input[type="text"]{
    background-color: white;
}

button{
    background-color: #590d2a;
    color: white;
    min-width: 20vw;
    min-height: 3vw;
    margin: auto;
    border-radius: 0%;
    text-align: center;
    position: relative;
}

button:hover {
    color: #590d2a;
    background-color: white;
}

section:has(input[type="checkbox"]:checked){
    border: greenyellow;
    border-style: dashed;
}

@media (any-hover: hover){
    button:hover{
        background-color: white;
    }
}

@media (aspect-ratio: 1/1) {
    body{
        background-color: white;
    }
}

:root {
    --main-bg: rgb(232, 232, 220);
  }
